<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Under Maintenace</h1>
    <p>Theis site is currently under maintenace. Will be back up soon !</p>
  </body>
</html>
